# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv311/

# Whisper model cache
*.pt

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Pytest cache
.pytest_cache/
